{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit.episode'|trans }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'mettre à jour'}, { 'attr': {'class': 'btn btn-success'}} ) }}

    <a href="{{ path('episode_index') }}"> {{ 'back.episode'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
