{% extends 'base.html.twig' %}

{% block title %}{{ 'new.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'created.new.episode'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">{{ 'back.episode'|trans }}</a>
{% endblock %}
