{% extends 'layoutMail.html.twig' %}

{% block title %}
	Un nouvel épisode de
	{{ program.title }}
	a été ajoutée!
{% endblock %}

{% block body %}

	<h1>Nouvel épisode de
		{{ program.title }}
		ajouté</h1>
	<p>Bonjour, un nouvel épisode de
		{{ program.title}}
		est apparu sur Wild Séries !<br>
	</p>
	<p>L'épisode n°{{ episode.number }}
		intitulé
		{{ episode.title }}</p>
	<p>Le résumé d'épisode :
		{{episode.synopsis }}</p>

	<p>
		<a href="http://localhost:8000/programs/{{ program.slug }}/seasons/{{ season.number }}">
			Pour savoir plus
		</a>
	</p>

{% endblock %}
