{% extends 'base.html.twig' %}

{% block title %}{{ 'new.season'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new.season'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">{{ 'back.season'|trans }}</a>
{% endblock %}
