{% extends 'base.html.twig' %}

{% block title %}{{ 'program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'all.program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'mettre à jour'}) }}

    <a href="{{ path('program_index') }}">{{ 'back.program'|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
