{# templates/program/episode_show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container">
			<div class="season_description">

				<h2>{{ program.title }}, Saison
					{{ season.number }}, Episode
					{{ episode.number }}</h2>
				<p>Episode :
					{{ episode.title }}</p>
				<p>Résumé :
					{{ episode.synopsis }}</p>
			</div>
			<div>
				{% if app.user %}
					<h3>Laisse un commentaire</h3>
					<div class="center container-fluid">
						<div class="col-lg-6">
							{{ form_start(form) }}
							{{ form_errors(form) }}
							{{ form_widget(form) }}
							<input type='submit' value='Ajouter !'>
							{{ form_end(form) }}
						</div>
					{% endif %}
					{% if comments == true %}
			<div class="col-6">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Note</th>
							<th scope="col">Commentaire</th>
							<th scope="col">Auteur</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in comments %}
							<tr>
								<td>{{ comment.rate }}/ 5</td>
								<td>{{ comment.comment }}</td>
								<td>
									 {% if app.user %}
                    					{% if is_granted("ROLE_ADMIN") or app.user.email == comment.user.email %}
									<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
										{% endif %}
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
</div>{% endblock %}
