{% extends 'base.html.twig' %}

{% block title %}{{ 'program'|trans }}{% endblock %}

{% block body %}
	<h1>{{ 'all.program'|trans }}</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button>Rechercher</button>
	{{ form_end(form) }}
	<div class="container-fluid">
		<div class="container">
			<div class="season_description">
				{% for program in programs %}
					<div>
						<h2>{{ loop.index }}
							{{ program.title }}
							- {{ 'category'|trans }} 
							{{ program.category.name }}</h2>
						<p>{{ program.summary }}</p>
						<a href="{{ path("program_show", { slug: program.slug }) }}">Plus de détail</a>
					</div>
				{% else %}
					 {{ 'no.serie.found'|trans }}
				{% endfor %}
				{% if app.user %}
					<i class="{{ app.user.isInWatchlist(programs) ? 'fas' : 'far' }} fa-heart fa-xs watchlist"></i>
				{% endif %}
				<a class="nav-link" href="{{ path('program_new') }}"> {{ 'add.aprogram'|trans }}</a>
				<a href="{{ path('app_index') }}">
					{{ 'back.home'|trans }}
				</a>
			</div>
		{% endblock %}
		{% block javascripts %}
		{% endblock %}
