{% extends 'layoutMail.html.twig' %}
{% block title %}Nouvelle Série {% endblock %}
{% block body %}
	<h1>{{ 'new.program'|trans }}
		{{ program.title }}
		crée</h1>
	<p>
		{{ 'hello'|trans }}, {{ 'new.program'|trans }} {{ program.title }} {{ 'created'|trans }}on Wild Series
	</p>
	<p>{{ 'summary'|trans }} 
		{{program.summary }}</p>
	<a href="http://localhost:8000/programs/show/{{ program.slug }}">
		Voir la série</a>
{% endblock %}
