{# templates/program/season_show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="season_description">
                <h1> {{ program.title }}</h1>
                <h2>Saison {{ season.number }}</h2>

                <p>{{ season.description }}</p>

            <h1>Liste des episodes :</h1>

                <ul>
                    {% for episode in season.episodes %}
                        <li>
                            <a href="{{ path("program_episode_show", { programId: program.id, seasonId : season.id, episodeId : episode.id}) }}">Episode {{episode.number}} : {{ episode.title }}</a>
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
        </div>
    </div>
{% endblock %}