{# templates/program/season_show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'season'|trans }} {{ season.number }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="season_description">
                <h1> {{ program.title }}</h1>
                <h2>{{ 'season'|trans }}  {{ season.number }}</h2>

                <p>{{ season.description }}</p>

            <h1>{{ 'all.episode'|trans }} :</h1>

                <ul>
                    {% for episode in season.episodes %}
                        <li>
                            <a href="{{ path("program_episode_show", {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}"> {{ 'episode'|trans }} {{episode.number}} : {{ episode.title }}</a>
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="{{ path('program_index') }}">
                 {{ 'back.program'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
