{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.summary }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<p>Liste des Saisons :</p>

			<ul>
				{% for season in program.seasons %}
					<li>
						<a href="{{ path("program_season_show", { programSlug: program.slug, seasonId: season.id }) }}">
							Saison
							{{ season.number }}</a>
					</li>
				{% endfor %}
			</ul>
			<h2>
				Acteurs :
			</h2>
			<ul>
				{% for actor in program.actors %}
					<li>
                        <a href="{{ path('actor_show', {id : actor.id}) }}">{{ actor.firstname }}</a>
					</li>
				{% else %}
					<li>Aucun acteur pour cette série</li>
				{% endfor %}
			</ul>
            {% if app.user %}
                <button id="watchlist" >
                    <i id="watchlistIcon" class="watchlist {{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart fa-2x ml-2"
                       data-href="{{ path("program_watchlist", { slug: program.slug}) }}"
                    ></i>
                </button>
            {% endif %}
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
 {% endblock %}
