{% extends 'base.html.twig' %}

{% block title %}{{ actor.firstname }}{% endblock %}

{% block body %}
<h2>{{ actor.firstname }}</h2>
<ul>
    {% for program in actor.programs %}
    <li><a href="{{ path('program_show', {id : program.id}) }}">{{ program.title }}</a></li>
    {% else %}
    <li>Aucune série à afficher.</li>
    {% endfor %}
</ul>
<a href="{{ path('actor_index') }}">Retour à la liste des acteurs</a>
{% endblock %}